@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    /*Colors*/
    --bg:#36213E;
    --bg-variant:#4b1161;
    --title:#6B4FAC;
    --text:#A393EB;

    --transition:all 400ms ease;

    /*Containers*/
    --container-75:75%;
    --container-86:86%;
    --container-90:90%;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color:white;
    line-height: 1.7;
}

/* ------------------ Geral Style Above ---------------- */

.container{
    width: var(--container-75);
    margin: 0 auto;
}

h1,h2,h3,h4,h5{
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

section{
    margin-top:8rem;
}

section > h2, section > h5{
    text-align: center;
    color: var(--text);
}

section > h2 {
    color: var(--title);
    margin-bottom:3rem;
}

.text{
    color:var(--text);
}

a{
    color: var(--title);
    transition: var(--transition);
}

a:hover{
    color:white;
}

.btn{
    width: max-content;
    display: inline-block;
    color: var(--text);
    padding: 0.7rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border:1px solid var(--text);
    transition: var(--transition);
}

.btn:hover{
    background-color: white;
    color: var(--bg);
    border: transparent;
}

.btn-primary{
    background: var(--title);
    color: white;
}

image{
    width: 100%;
    object-fit: cover;
    display: block;
}

/* ------------------- MEDIA QUERIES (MEDIUM) -------------- */

@media screen and (max-width:1024px) {
    .container{
        width: var(--container-86);
    }
    section{
        margin-top:6rem;
    }
}

/* ------------------- MEDIA QUERIES (SMALL) -------------- */

@media screen and (max-width:600px) {
    .container{
        width: var(--container-90);
    }
    section > h2{
        margin-bottom:2rem;
    }
}